{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Frontend-программист</title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
</head>
{% for nav in navigation %}

<header>
</header>
<main>
    <div class="body">
        <div class="navigation" style="height: 1500px">
            <p class="nav_text">{{ nav.title|safe }}</p>
            <img class="logo_double" src="{% static 'images/logotip.png' %}">
            <nav>
                <ul>
                    <li><a href="/">{{ nav.first_menu }}</a></li>
                    <li><a href={% url 'demendPage' %}>{{ nav.second_menu }}</a></li>
                    <li><a href={% url 'geographyPage' %}>{{ nav.thierd_menu }}</a></li>
                    <li><a href={% url 'skillsPage' %}>{{ nav.fourth_menu }}</a></li>
                    <li><a href={% url 'lastVacancyPage' %}>{{ nav.fifth_menu }}</a></li>
                </ul>
            </nav>
        </div>
        {% endfor %}
        {% for main in home_info %}
        <div class="home_text">
            {{ main.text|safe }}
            <div class="empty"></div>
            <img class="home_img" src="{{ main.photo.url }}"/>
        </div>
    </div>
 {% endfor %}
        <div class="home_text" style="margin-top: 10px">
{% for lv in last_vacancies %}
            <h1>{{lv.title}}</h1>
            <div class="empty_skills"></div>
        </div>
        <div class="LVtable">
            {% for i in vacs %}
            <h3>{{ i.name }}</h3>
            <p>Описание: {{ i.description }}</p>
            <p>Навыки: {{ i.key_skills }}</p>
            <p>Компания: {{ i.employer }}</p>
            <p>Зарплата: {{ i.salary }}</p>
            <p>Город: {{ i.area }}</p>
            <p>Дата публикации: {{ i.published_at }}</p>
            <p>Ссылка: {{ i.alternate_url }}</p>
        {% endfor %}
        {% endfor %}

        </div>
    </div>
</main>
{% for navigator in navigation %}
<footer>
    <div class="foot">{{ navigator.author|safe }}</div>
</footer>
{% endfor %}
</body>
</html>